
WeddingCelebration/.vs/WeddingCelebration/DesignTimeBuild/.dtbcache.v2
WeddingCelebration/.vs/WeddingCelebration/v16/.suo
WeddingCelebration/.vs/WeddingCelebration/DesignTimeBuild/.dtbcache.v2
*.dll
WeddingCelebration/WeddingCelebration/bin
WeddingCelebration/WeddingCelebration/obj
WeddingCelebration/AuthorizedServices/bin
WeddingCelebration/AuthorizedServices/obj
WeddingCelebration/Commen/obj
WeddingCelebration/WeddingCelebration/obj/Debug
WeddingCelebration/Commen/obj/Release/netstandard2.0/Commen.assets.cache
WeddingCelebration/Commen/obj/Release/netstandard2.0/Commen.assets.cache
WeddingCelebration/.vs/WeddingCelebration/DesignTimeBuild/.dtbcache.v2
WeddingCelebration/.vs/WeddingCelebration/v16/.suo
WeddingCelebration/AuthorizedServices/Properties/PublishProfiles/FolderProfile.pubxml
WeddingCelebration/AuthorizedServices/Properties/PublishProfiles/FolderProfile.pubxml.user
WeddingCelebration/WeddingCelebration/obj/Debug/netcoreapp3.0/WeddingCelebration.assets.cache
WeddingCelebration/WeddingCelebration/obj/Debug/netcoreapp3.0/WeddingCelebration.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.IDAL/obj/Release/netstandard2.0/WeddingCelebration.IDAL.assets.cache
WeddingCelebration/WeddingCelebration.IDAL/obj/Release/netstandard2.0/WeddingCelebration.IDAL.csprojAssemblyReference.cache
WeddingCelebration/WeddingCelebration.IService/obj/Release/netstandard2.0/WeddingCelebration.IService.assets.cache
WeddingCelebration/WeddingCelebration.IService/obj/Release/netstandard2.0/WeddingCelebration.IService.csprojAssemblyReference.cache
WeddingCelebration/WeddingCelebration.Model/obj/Release/netstandard2.0/WeddingCelebration.Model.assets.cache
WeddingCelebration/WeddingCelebration.Model/obj/Release/netstandard2.0/WeddingCelebration.Model.csprojAssemblyReference.cache
WeddingCelebration/WeddingCelebration.Service/obj/Release/netstandard2.0/WeddingCelebration.Service.assets.cache
WeddingCelebration/WeddingCelebration.Service/obj/Release/netstandard2.0/WeddingCelebration.Service.csprojAssemblyReference.cache
WeddingCelebration/Commen/bin/Debug/netstandard2.0/Commen.deps.json
WeddingCelebration/WeddingCelebration.Service/obj/Debug
WeddingCelebration/WeddingCelebration.Model/obj
WeddingCelebration/WeddingCelebration.Model/bin
WeddingCelebration/.vs/WeddingCelebration/v16/.suo
WeddingCelebration/Commen/bin/Debug
WeddingCelebration/Commen/obj
WeddingCelebration/WeddingCelebration.DAL/obj/project.nuget.cache
WeddingCelebration/WeddingCelebration.DAL/obj
WeddingCelebration/WeddingCelebration.IDAL/obj
WeddingCelebration/Commen/obj/Debug
WeddingCelebration/WeddingCelebration.DAL/obj
WeddingCelebration/Commen/obj/Debug/netstandard2.0/Commen.assets.cache
WeddingCelebration/Commen/obj/Debug/netstandard2.0/Commen.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.DAL/obj
WeddingCelebration/WeddingCelebration.IDAL/obj
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.AssemblyInfoInputs.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.assets.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.csproj.CopyComplete
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.csproj.CoreCompileInputs.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.csprojAssemblyReference.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.pdb
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.assets.cache
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.Service/bin/Debug/netstandard2.0/Commen.pdb
WeddingCelebration/WeddingCelebration.Service/bin/Debug/netstandard2.0/WeddingCelebration.IDAL.pdb
WeddingCelebration/WeddingCelebration.Service/bin/Debug/netstandard2.0/WeddingCelebration.IService.pdb
WeddingCelebration/WeddingCelebration.Service/bin/Debug/netstandard2.0/WeddingCelebration.Model.pdb
WeddingCelebration/WeddingCelebration.IService/bin/Debug/netstandard2.0/WeddingCelebration.IService.pdb
WeddingCelebration/WeddingCelebration.IService/bin/Debug/netstandard2.0/WeddingCelebration.Model.pdb
WeddingCelebration/WeddingCelebration.IService/obj/project.nuget.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.assets.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.assets.cache
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.Service/bin/Debug/netstandard2.0/WeddingCelebration.Service.pdb
WeddingCelebration/WeddingCelebration.Service/obj/project.nuget.cache
WeddingCelebration/WeddingCelebration.Service/obj/Debug/netstandard2.0/WeddingCelebration.Service.assets.cache
WeddingCelebration/WeddingCelebration.Service/obj/Debug/netstandard2.0/WeddingCelebration.Service.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.assets.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.assets.cache
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.csproj.FileListAbsolute.txt
WeddingCelebration/Commen/obj/Debug/netstandard2.0/Commen.csproj.FileListAbsolute.txt
WeddingCelebration/Commen/obj/Debug/netstandard2.0/Commen.csproj.FileListAbsolute.txt
WeddingCelebration/.vs/WeddingCelebration/config/applicationhost.config
WeddingCelebration/.vs/WeddingCelebration/DesignTimeBuild/.dtbcache.v2
WeddingCelebration/.vs/WeddingCelebration/v16/.suo
WeddingCelebration/Commen/obj/Debug/netstandard2.0/Commen.assets.cache
WeddingCelebration/WeddingCelebration/obj/project.assets.json
WeddingCelebration/WeddingCelebration/obj/WeddingCelebration.csproj.nuget.dgspec.json
WeddingCelebration/WeddingCelebration/obj/WeddingCelebration.csproj.nuget.g.props
WeddingCelebration/WeddingCelebration/obj/WeddingCelebration.csproj.nuget.g.targets
WeddingCelebration/WeddingCelebration/Properties/launchSettings.json
WeddingCelebration/WeddingCelebration.DAL/obj/Debug/netstandard2.0/WeddingCelebration.DAL.assets.cache
WeddingCelebration/WeddingCelebration.DAL/obj/Debug/netstandard2.0/WeddingCelebration.DAL.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.IDAL/obj/Debug/netstandard2.0/WeddingCelebration.IDAL.assets.cache
WeddingCelebration/WeddingCelebration.IDAL/obj/Debug/netstandard2.0/WeddingCelebration.IDAL.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.assets.cache
WeddingCelebration/WeddingCelebration.IService/obj/Debug/netstandard2.0/WeddingCelebration.IService.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.assets.cache
WeddingCelebration/WeddingCelebration.Model/obj/Debug/netstandard2.0/WeddingCelebration.Model.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.Service/obj/Debug/netstandard2.0/WeddingCelebration.Service.assets.cache
WeddingCelebration/WeddingCelebration.Service/obj/Debug/netstandard2.0/WeddingCelebration.Service.csproj.FileListAbsolute.txt
