
WeddingCelebration/.vs/WeddingCelebration/DesignTimeBuild/.dtbcache.v2
WeddingCelebration/.vs/WeddingCelebration/v16/.suo
WeddingCelebration/.vs/WeddingCelebration/DesignTimeBuild/.dtbcache.v2
*.dll
WeddingCelebration/WeddingCelebration/bin
WeddingCelebration/WeddingCelebration/obj
WeddingCelebration/AuthorizedServices/bin
WeddingCelebration/AuthorizedServices/obj
WeddingCelebration/Commen/obj
WeddingCelebration/WeddingCelebration/obj/Debug
WeddingCelebration/Commen/obj/Release/netstandard2.0/Commen.assets.cache
WeddingCelebration/Commen/obj/Release/netstandard2.0/Commen.assets.cache
WeddingCelebration/.vs/WeddingCelebration/DesignTimeBuild/.dtbcache.v2
WeddingCelebration/.vs/WeddingCelebration/v16/.suo
WeddingCelebration/AuthorizedServices/Properties/PublishProfiles/FolderProfile.pubxml
WeddingCelebration/AuthorizedServices/Properties/PublishProfiles/FolderProfile.pubxml.user
WeddingCelebration/WeddingCelebration/obj/Debug/netcoreapp3.0/WeddingCelebration.assets.cache
WeddingCelebration/WeddingCelebration/obj/Debug/netcoreapp3.0/WeddingCelebration.csproj.FileListAbsolute.txt
WeddingCelebration/WeddingCelebration.IDAL/obj/Release/netstandard2.0/WeddingCelebration.IDAL.assets.cache
WeddingCelebration/WeddingCelebration.IDAL/obj/Release/netstandard2.0/WeddingCelebration.IDAL.csprojAssemblyReference.cache
WeddingCelebration/WeddingCelebration.IService/obj/Release/netstandard2.0/WeddingCelebration.IService.assets.cache
WeddingCelebration/WeddingCelebration.IService/obj/Release/netstandard2.0/WeddingCelebration.IService.csprojAssemblyReference.cache
WeddingCelebration/WeddingCelebration.Model/obj/Release/netstandard2.0/WeddingCelebration.Model.assets.cache
WeddingCelebration/WeddingCelebration.Model/obj/Release/netstandard2.0/WeddingCelebration.Model.csprojAssemblyReference.cache
WeddingCelebration/WeddingCelebration.Service/obj/Release/netstandard2.0/WeddingCelebration.Service.assets.cache
WeddingCelebration/WeddingCelebration.Service/obj/Release/netstandard2.0/WeddingCelebration.Service.csprojAssemblyReference.cache
